---
---

// Custom variables
$header-bg-color: #656565 !default;
$header-bg-color-secondary: #000 !default;

// Text
$section-headings-color: #155799 !default;

@import "{{ site.theme }}";

.hero-image {
  width: 540px;
  max-width: 100%;
}
