---
---

// Custom variables
$header-bg-color: #274991 !default;
$header-bg-color-secondary: #7EC4E9 !default;

// Text
$section-headings-color: #155799 !default;

@import "{{ site.theme }}";

.hero-image {
  width: 540px;
  max-width: 100%;
}
